@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica";
  src: local("Helvetica Now Display Bold"),
    url("/font/HelveticaNowDisplay-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: local("Helvetica Now Display Medium"),
    url("/font/HelveticaNowDisplay-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: local("Helvetica Now Display Regular"),
    url("/font/HelveticaNowDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: local("Helvetica Now Text"),
    url("/font/HelveticaNowTextLight.otf") format("opentype");
  font-weight: 325;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Helvetica", sans-serif;
}
section {
  border: 0px !important;
}
.slick-slide {
  padding: 0;
}

.slick-list {
  overflow: visible !important;
  margin: 0;
}

@media (max-width: 640px) {
  .slick-slide {
    padding: 0;
  }
}
.gallery-slider {
  margin-left: -100px;
}

.gallery-slider .slick-list {
  overflow: visible;
}

.gallery-slider .slick-track {
  display: flex !important;
  gap: 20px;
  margin-left: -20px !important;
}
/* Default gap for larger screens */
.slick-track {
  display: flex !important;
  gap: 20px !important;
  margin: 0 !important;
  height: 100% !important;

  /* align-items: start !important; */
}

.team-slider .slick-track {
  margin-inline-start: -20px !important;
}

/* Adjust gap for mobile screens */

.slide-container {
  height: 600px !important;
  display: flex !important;
  align-items: flex-end !important;
}
@media (max-width: 640px) {
  .slick-track {
    gap: 6px !important;
  }
  .slide-container {
    height: 191.38px !important;
    display: flex !important;
    align-items: flex-end !important;
  }
}
@media (min-width: 641px) and (max-width: 1024px) {
  .slide-container {
    height: 389px !important;
    display: flex !important;
    align-items: flex-end !important;
  }
}
.image-wrapper {
  width: 100%;
  position: relative;
  transition: height 0.3s ease-in-out;
}
.small-square-list {
  list-style-type: square;
}
.small-square-list li::marker {
  font-size: 0.55rem; /* Adjust the marker size */
}
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}
.animate-slide-down {
  animation: slide-down 0.3s ease-out;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.page-banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  transform-origin: bottom;
  width: 100%;
  height: 100vh;
}

#banner-1 {
  z-index: 53;
}
#banner-2 {
  z-index: 52;
}
#banner-3 {
  z-index: 51;
}
#banner-4 {
  z-index: 50;
}

.community-slider {
  overflow: visible !important;

  margin-left: 0 !important;
}

.community-slider .slick-list {
  overflow: visible !important;
  margin-inline-start: -20px !important;
}

.community-slider .slick-track {
  display: flex !important;
  gap: 20px !important;
}

@media (max-width: 640px) {
  .community-slider .slick-track {
    gap: 6px !important;
  }
  .community-slider .slick-list {
    margin-left: -6px !important;
  }
}

.blog-slider {
  overflow: visible !important;
}

.blog-slider .slick-list {
  overflow: visible !important;
  margin-inline-start: -20px !important;
}

.blog-slider .slick-track {
  display: flex !important;
  gap: 20px !important;
}

@media (max-width: 640px) {
  .blog-slider .slick-track {
    gap: 12px !important;
  }
  .blog-slider .slick-list {
    margin-left: 0px !important;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: auto;
  position: relative;
  z-index: 1;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  pointer-events: auto;
  position: relative;
  z-index: 1;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  border: none;
}

input[type="range"]::-ms-thumb {
  pointer-events: auto;
  position: relative;
  z-index: 1;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 2px;
  background: #e5e7eb;
  border-radius: 4px;
}

input[type="range"]::-moz-range-track {
  height: 2px;
  background: #e5e7eb;
  border-radius: 4px;
}

input[type="range"]::-ms-track {
  height: 2px;
  background: #e5e7eb;
  border-radius: 4px;
}

/* Range slider styles */
.range-slider {
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.range-slider-thumb {
  touch-action: pan-x;
}
