@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica";
  src: local("Helvetica Now Display Bold"),
    url("/font/HelveticaNowDisplay-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: local("Helvetica Now Display Medium"),
    url("/font/HelveticaNowDisplay-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: local("Helvetica Now Display Regular"),
    url("/font/HelveticaNowDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: local("Helvetica Now Text"),
    url("/font/HelveticaNowTextLight.otf") format("opentype");
  font-weight: 325;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Helvetica", sans-serif;
}
section {
  border: 0px !important;
}
.slick-slide {
  padding: 0;
}

.slick-list {
  margin: 0;
}

@media (max-width: 640px) {
  .slick-slide {
    padding: 0;
  }
}
.gallery-slider {
  margin-left: -100px;
}

.gallery-slider .slick-list {
  overflow: visible;
}

.gallery-slider .slick-track {
  display: flex !important;
  gap: 20px;
}
/* Default gap for larger screens */
.slick-track {
  display: flex !important;
  gap: 20px !important;
  /* align-items: start !important; */
}

/* Adjust gap for mobile screens */

.slide-container {
  height: 600px !important;
  display: flex !important;
  align-items: flex-end !important;
}
@media (max-width: 640px) {
  .slick-track {
    gap: 6px !important;
  }
  .slide-container {
    height: 191.38px !important;
    display: flex !important;
    align-items: flex-end !important;
  }
}
@media (min-width: 641px) and (max-width: 1024px) {
  .slide-container {
    height: 389px !important;
    display: flex !important;
    align-items: flex-end !important;
  }
}
.image-wrapper {
  width: 100%;
  position: relative;
  transition: height 0.3s ease-in-out;
}
.small-square-list {
  list-style-type: square;
}
.small-square-list li::marker {
  font-size: 0.55rem; /* Adjust the marker size */
}
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}
.animate-slide-down {
  animation: slide-down 0.3s ease-out;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
